html{   scroll-behavior: smooth;}
body
{
   background:linear-gradient(355deg,#91E7D9,#3586ff) no-repeat center center fixed;
   background-size:150% 150%;
   font-family: Arial, Helvetica, sans-serif;
   font-size:1.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   overflow-x: hidden;
}
*
{
   margin:0;padding:0;
   box-sizing: border-box;
}
nav
{
   position: relative;
   background-color: rgba(255, 255, 255, 0);
   display:flex;
   justify-content: flex-start;
   align-items: center;
   min-height: 75px;
   flex-direction: row ;
   width:100%;
}
nav .logo
{
   border-radius:20px ;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:3em;
   left:75px;
   top:1%;
   font-weight: 700;
}



nav .togglemenu
{
   width:50px;
   height:50px;
   margin-left:10px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 99;
}
nav .togglemenu span
{
   position: absolute;
   width:35px;
   border-radius: 50px;
   height:4px;
   background-color: rgb(70, 70, 70);
   transition: 0.35s ease;
}
nav .togglemenu span:first-child
{
   transform: translateY(-12px);
}
nav .togglemenu span:last-child
{
   box-shadow: 0 12px rgb(70, 70, 70);
   transition: box-shadow 0.15s ease, all 0.35s ease;
   transition-delay: 0.1s;
}
nav .togglemenu.active span
{
   transform: translateY(0);
   box-shadow: none;
   background-color:white;
}
nav .togglemenu.active span:first-child
{
   transform: rotate(45deg);
}
nav .togglemenu.active span:last-child
{
   transform: rotate(315deg);
}
nav .togglemenu.active ~ .contant
{
   width:100%;
   left:0;
}
.contant
{
   position: absolute;
   width:0;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.794);
   top:0;
   overflow: hidden;
   left:-100%;
   z-index: 98;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s ease-in-out;
}
.contant ul
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:15px;
}
.contant ul li
{
   list-style-type: none;
   transition: 0.5s ease;

}
.contant ul li a 
{
   font-size: 3em;
   text-decoration: none;
   color:white;
}
.contant ul li:hover
{
   transform: translateY(-5px);
   font-size: 1.15em;
}
.loading
{
   position: relative;
   width:80%;
   min-height:100px;
   background-color: rgba(255, 255, 255, 0.493);
   border-radius: 4px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items:center;
   gap:10px;
   padding:10px;
}
.loading .project1
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:10px;
   width:90%;
   height: 400px;
   background:black;
   position: relative;
}
.loading .project1 .link 
{
   position: absolute;
   bottom: 0;
   right:0;
   width:50px;height:50px;
   background-color: rgba(0, 0, 0, 0.455);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99;
}
.loading .project1 .link ion-icon
{
   color:white;
   font-size: 1.75em;
   cursor: pointer;
}
.loading .project1 .text 
{
   overflow: hidden;
   background-color: rgb(0, 0, 0);
   position: absolute;
   bottom:0;
   right: 50px;
   visibility: hidden;
   opacity: 0;
   transform: translateY(-15px);
   max-width:50px;
   max-height: 25px;
   font-size: 0.75em;
   color:white;
   border-radius: 10px;
   z-index: 98;
   word-break: keep-all;
   padding:3px;
   transition: 0.5s ease;
}
.loading .project1:hover .text
{
   max-width: 200px;
   visibility: visible;
   opacity: 1;
}
.loading .project1 .box
{
   position: relative;
   width:100px;
   height: 100px;
   background-color: rgb(255, 255, 255);
}
.loading .project1 .box div:first-child
{
   position: absolute;
   background-color: black;
   bottom:0;
   right:0;
   width:50px;
   height: 50px;
   overflow: hidden;
   animation: b1 4s;
   animation-iteration-count: infinite;
   transition:all 4s;
}
.loading .project1 .box div:last-child
{
   position: absolute;
   background-color: black;
   top:0;
   left:0;
   width:50px;
   height: 50px;
   overflow: hidden;
   animation: b2 4s;
   animation-iteration-count: infinite;
   transition:all 4s;
}
@media screen and (max-width:700px){
   nav .logo {
      font-size: 2.5em;
   }
   .contant ul li a {
      font-size: 2em;
   }
}
@keyframes b1 {
   0% 
   {
      transform: translateY(0);
      width:50px;
      height:50px;
   }
   12.5%
   {
      height: 100px;
   }
   25%
   {
      transform: translateY(-50px);
      width:50px;
      height:50px;
   }
   37.5%
   {
      width:100px;
   }
   50%
   {
      transform: translateY(-50px) translateX(-50px);
      width:50px;
      height:50px;
   }
   62.5%
   {
      height:100px;
   }
   75%
   {
      transform: translateY(0) translateX(-50px);
      width:50px;
      height:50px;
   }
   87.5%
   {
      width:100px;
   }
   100%
   {
      transform: translateY(0) translateX(0);
      width:50px;
      height:50px;
   }
}
@keyframes b2 {
   0% 
   {
      transform: translateY(0);
      width:50px;
      height:50px;
   }
   12.5%
   {
      height: 100px;
   }
   25%
   {
      transform: translateY(50px);
      width:50px;
      height:50px;
   }
   37.5%
   {
      width:100px;
   }
   50%
   {
      transform: translateY(50px) translateX(50px);
      width:50px;
      height:50px;
   }
   62.5%
   {
      height:100px;
   }
   75%
   {
      transform: translateY(0) translateX(50px);
      width:50px;
      height:50px;
   }
   87.5%
   {
      width:100px;
   }
   100%
   {
      transform: translateY(0) translateX(0);
      width:50px;
      height:50px;
   }
}

footer
{
   position: relative;
   bottom: 0;
   width:100%;
   background: #3586ff;
   min-height: 100px;
   padding:20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 200px;

}
footer .social-icon
{
   position: relative;
   display:flex;
   justify-content: center;
   align-items: center;
   margin:10px 0;

}
footer .social-icon li
{
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width:auto;

   transition: 0.5s ease;
}
footer .social-icon li a
{
   font-size: 4em;
   color:white;
   margin:0 10px;
   display: inline-block;
   transition: 0.5s;
   transform: translateY(10px);
}
footer .social-icon li:hover
{
   transform: translateY(-10px);
}
@media screen and(max-width:1100px){
   footer .social-icon li a {
      font-size: 2em;
   }
} 
footer .wave
{
   position: absolute;
   top:-100px;
   left:0;
   width:100%;
   height:100px;
   background: url('media/wave.png');
   background-size: 1000px 100px;
}
footer .wave#wave1
{
   z-index: 1000;
   opacity: 1;
   bottom:0;
   animation: animewave 4s linear infinite;
}
@keyframes animewave {
   0%
   {
      background-position-x: 1000px;
   }
   100%
   {
      background-position-x: 0px;
   }
}
footer .wave#wave2
{
   z-index: 999;
   opacity: 0.5;
   bottom:10px;
   animation: animewave02 4s linear infinite;
}
@keyframes animewave02 {
   0%
   {
      background-position-x: 0px;
   }
   100%
   {
      background-position-x: 1000px;
   }
}
footer .wave#wave3
{
   z-index: 1000;
   opacity: 0.2;
   bottom:15px;
   animation: animewave02 3s linear infinite;
}
footer .wave#wave4
{
   z-index: 999;
   opacity: 0.7;
   bottom:20px;
   animation: animewave 3s linear infinite;
}